@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main nav {
    display: flex;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    justify-content: space-between;
    height: 60px;
    padding-top: 30px;
    box-sizing: border-box;
}

.main nav img {
    width: 150px;
    color: red;
    position: relative;
    z-index: 10;
}

.main nav button {
    position: relative;
    z-index: 10;
}

.main {
    background-image: url("Images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 99vh;
    position: relative;
}

.main .box {
    height: 98.8vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

.main .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    flex-direction: column;
    height: calc(100% - 62px);
    font-family: 'Martel Sans', sans-serif;
    gap: 10px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.hero .similar {
    font-weight: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

input {
    padding: 10px 100px 10px 15px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid rgba(246, 238, 238, 0.4);
    color: white;
    font-weight: normal;
}

::placeholder {
    font-size: 15px;
    color: white;
    font-weight: 100;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 3px 10px;
    background-color: rgba(248, 243, 243, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.577);
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    border: none;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 9px 25px;
    font-size: 23px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.line {
    height: 1.2vh;
    background-color: rgb(35, 35, 35);
    border: none;
    position: relative;
    z-index: 1;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    color: white;
    padding: 50px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 34px 0 0 0;
}

.first>div :nth-child(2) {
    font-size: 22px;
}

.secImg {
    position: relative;
    z-index: 0;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 1;
}

.secImg video {
    position: absolute;
    top: 51px;
    left: 1px;
}

.third .secImg video {
    position: absolute;
    left: 105px;
    width: 22vw;
    top: 65px;
}

.faq {
    gap: 20px;
    color: white;
    background-color: black;
    padding: 25px;
}

.faq h2 {
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}

.faq-box {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    max-width: 70vw;
    margin: 15px auto;
    padding: 20px;
    cursor: pointer;
    transition: all .2s ease-out;
}

.faq-box:hover {
    background-color: #414141;
    color: white;
}

.hero .margin {
    margin-top: 50px;
    margin-bottom: 20px;
}

footer {
    color: white;
    opacity: 0.7;
    max-width: 60vw;
    margin: auto;
    padding: 15px;
}

footer .question {
    padding: 60px 0 25px 0;
}

footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer .footer-item a {
    color: white;
    font-weight: normal;
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    nav {
        max-width: 90vw;
    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 300px;
    }

    .secImg video {
        width: 250px;
    }

    .third .secImg img {
        height: 200px;
    }

    .hero>:nth-child(1) {
        font-size: 32px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
    }

    .faq h2 {
        font-size: 30px;
    }

    .hero .similar {
        font-size: 18px;
    }

    footer {
        max-width: 90vw;
    }

    footer .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    /* footer .footer-item {
        align-items: center;
    } */
}